*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    background-color: brown;
    width: fit-content;
    color: white;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0.8rem 2.3rem;
    position: relative;
    box-shadow: 5px 5px 8px black;
}
.box::before{
    content: "";
    position: absolute;
    transition: all 0.8s;
    background-color: black;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    z-index: -1;
}
.box:hover::before{
    transform: scaleX(1);
}
.box:hover{
    color: red;
    z-index: 1;
}